[Unit]
Description=Go EC2 CI/CD Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/go-ec2-cicd
ExecStart=/home/ubuntu/go-ec2-cicd/bin/go-ec2-cicd
Restart=always
RestartSec=5
Environment=PORT=8080

[Install]
WantedBy=multi-user.target